version: "3.9"

networks:
  web:
    external: true
    name: ${NETWORK_NAME}

services:

  # guacd
  guacd:
    container_name: guacd_compose
    image: guacamole/guacd
    networks:
      - web
    restart: always
    volumes:
      - ./drive:/drive:rw
      - ./record:/record:rw

  # postgres
  postgres:
    container_name: postgres_guacamole_compose
    image: postgres:15.2-alpine
    networks:
      - web
    restart: always
    environment:
      PGDATA: ${PGDATA}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
    volumes:
      - ./init:/docker-entrypoint-initdb.d:z
      - ./data:/var/lib/postgresql/data:Z

  # guacamole
  guacamole:
    container_name: guacamole_compose
    image: guacamole/guacamole
    depends_on:
      - guacd
      - postgres
    networks:
      - web
    restart: always
    environment:
      GUACD_HOSTNAME: ${GUACD_HOSTNAME}
      POSTGRES_DATABASE: ${POSTGRES_DB}
      POSTGRES_HOSTNAME: ${POSTGRES_HOSTNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      TOTP_ENABLED: "true"
    volumes:
      - ./record:/record:rw
    ports:
      - "${GUACAMOLE_PORT}:8080/tcp"

  ########### optional ##############
  # nginx
  nginx:
    container_name: nginx_guacamole_compose
    restart: always
    image: nginx:latest
    networks:
      - web
    volumes:
      - ./nginx/templates:/etc/nginx/templates:ro
      - ./nginx/ssl/self.cert:/etc/nginx/ssl/self.cert:ro
      - ./nginx/ssl/self-ssl.key:/etc/nginx/ssl/self-ssl.key:ro
    ports:
      - "${NGINX_HTTPS_PORT}:443"
